<app-header></app-header>
<div class="h-full flex items-center justify-center bg-cover bg-center"
    style="background-image: url('/assets/home-background.jpg'); height: 100vh;">
    <div class="hero">
        <div class="card border-2 shadow-lg">
            <div class="">
                <div class="">
                    <h1>Home Security System</h1>
                </div> <br>
                <div class="ml-2">
                    <h2>Università di Cagliari</h2>
                </div>
            </div>
        </div>
    </div>
</div>